body {
    background: skyblue;
}

.Tetris {
    background: whitesmoke;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(10, 1fr);
    border: 1px solid teal;
    width: 23rem;
    height: 46rem;
    margin: 0 auto;
}

.block {
    border: 1px solid gray;
}

.full-block {
    background-color: turquoise;
}